*.suo
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
BenchmarkDotNet.Artifacts/
*.tmp
*.tmp_proj
*.log
*.vspscc
publish/
*.nupkg
*.snupkg
*.[Cc]ache
!?*.[Cc]ache/
node_modules/
.vscode/
Tests/NativeAotTests/NativeAotCheckerTests/aot
TestHarness/NativeAotChecker/aot
TestHarness/NativeAotChecker/wwwroot/openapi/
TestHarness/NativeAotChecker/Generated/
